.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-screen {
  width: 100%;
}

.grid__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  color: inherit;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  color: #868686;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.4285;
  font-size: 1.4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

form, fieldset {
  padding: 0;
}

form, fieldset, input, button {
  border: none;
  margin: 0;
  display: block;
}

label {
  margin: 0;
  color: #9a9a9a;
  position: relative;
  padding-left: 6px;
  text-transform: capitalize;
  font: 400 11px/18px "Oxygen", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h2 {
  letter-spacing: 0.46rem;
}

input {
  border: 0;
  width: 100%;
  outline: none;
  color: #909090;
  margin: 0 0 11px;
  padding: 9px 22px;
  background: #f0f0f0;
  border-radius: 30px;
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: 300 14px/20px "Source Sans Pro", sans-serif;
}

#check1 {
  float: left;
}

.btn {
  border: 0;
  outline: none;
  color: #fff;
  padding: 8px 22px;
  background: #808080;
  border-radius: 18px;
  vertical-align: top;
  display: inline-block;
  font: 300 14px/20px "Source Sans Pro", sans-serif;
}

.btn:hover {
  background-color: #ff6060;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header {
  padding: 0 20px;
}

.header a {
  color: #2e2e2e;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 21px 0;
}

.header__logo {
  line-height: 0;
}

.header__nav {
  text-transform: uppercase;
  font: 14px/20px "Montserrat", sans-serif;
  margin-left: auto;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list {
  position: relative;
  margin-left: 20px;
}

.header__list i {
  display: none;
}

.header__drop {
  opacity: 0;
  visibility: hidden;
  padding-top: 27px;
  position: absolute;
  left: 0;
  width: 220px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  font: 300 12px/35px "Source Sans Pro", sans-serif;
}

.header__drop li {
  padding: 0 20px;
  border-bottom: 2px solid #F6F6F6;
  background-color: white;
}

.header__drop a {
  display: block;
  width: 100%;
}

.header__list a:hover {
  color: #ff6060;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__list:hover .header__drop {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 1000;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header__icon span {
  font-weight: 300;
  color: white;
}

.header__icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__icon li {
  margin-left: 20px;
}

.header__icon a {
  font-weight: 600;
}

.header__icon a:hover {
  color: #ff6060;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media screen and (max-width: 768px) {
  .header__nav {
    display: none;
  }
}

.page {
  position: static;
  margin-left: 20px;
}

.page a:hover {
  color: #ff6060;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.page i {
  display: inline;
}

.page ul {
  font: 300 14px/20px "Source Sans Pro", sans-serif;
  color: #757575;
  text-transform: capitalize;
}

.page li {
  margin-bottom: 4px;
}

.page__drop {
  opacity: 0;
  visibility: hidden;
  max-width: 1200px;
  padding-top: 30px;
  margin: 0 auto;
  position: absolute;
  top: 43px;
  left: 0px;
  right: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: 300 12px/35px "Source Sans Pro", sans-serif;
}

.page__hover:hover .page__drop {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 1000;
}

.page__hover:hover .dark {
  opacity: 1 !important;
  z-index: 1;
}

.page__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: aqua;
  padding: 60px 72px;
}

.page__wrap div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.page__title {
  text-transform: uppercase;
  display: block;
  color: #535353;
  font-weight: 700;
  margin: 0 0 18px;
  padding: 0 0 4px;
  position: relative;
  pointer-events: none;
  font: 16px/20px "Montserrat", sans-serif;
}

.page__title a::after {
  content: "";
  position: absolute;
  width: 68px;
  height: 2.5px;
  background-color: #535353;
  left: 0;
  bottom: 0;
}

.page__2 div {
  margin-bottom: 35px;
}

.page__img {
  width: 245px;
}

.page__img img {
  width: 100%;
}

.fa-heart,
.fa-shopping-bag {
  position: relative;
}

.num {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  text-align: center;
  border: 2px solid white;
  font: 11px/15px "Montserrat", sans-serif;
  position: absolute;
  top: 40%;
  left: 12px;
}

.icon-bar {
  display: none;
}

@media screen and (max-width: 768px) {
  .icon-bar {
    display: inline;
  }
}

.search {
  opacity: 0;
  visibility: hidden;
  background-color: #f8f8f8;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9d9d9d;
}

.search i {
  font-size: 25px;
  color: #9d9d9d;
  margin-left: 5px;
}

.search i:hover {
  color: #ff6060;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.search__re {
  width: 100%;
  position: relative;
  margin: 0 auto;
  max-width: 770px;
}

.search__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: -23px;
  top: 44%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.search i.fa-times {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.search button {
  border: none;
  background-color: #f8f8f8;
}

.search input {
  background-color: #f8f8f8;
  padding: 0 90px 0 20px;
  height: 60px;
  font-size: 30px;
  border: none;
  border-radius: 0;
  border-left: 2px solid #9d9d9d;
  font: 300 25px/30px "Source Sans Pro", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.open-1 {
  opacity: 1 !important;
  visibility: visible !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 10;
}

.s-open {
  max-width: 1000px !important;
}

.close {
  display: none;
}

.dark {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.selec {
  display: block;
  width: 25px;
  height: 23px;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background: red;
  position: absolute;
}

.popular {
  position: relative;
}

.popular::after {
  content: "";
  display: block;
  opacity: 0;
  width: 25px;
  height: 23px;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background: red;
  position: absolute;
}

.popular__heart {
  opacity: 0;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 54px 40px;
  -webkit-transform: translateX(-250px);
          transform: translateX(-250px);
  width: 380px;
  position: absolute;
  top: 52px;
}

.popular__list {
  border-bottom: 2px solid #9d9d9d;
}

.popular__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.popular__row span {
  display: block;
  color: #010101;
  font: 600 15px/20px "Source Sans Pro", sans-serif;
}

.popular__price {
  color: #010101;
  font: 600 15px/20px "Source Sans Pro", sans-serif;
}

.popular__total {
  padding: 16px 10px;
  font: 600 14px/26px "Source Sans Pro", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular__buttom {
  padding: 1px 20px;
  border: 2px solid #010101;
  border-radius: 24px;
}

.popular__buttom:hover {
  background-color: #010101;
}

.popular__buttom:hover a {
  color: #f8f8f8;
}

.popular .img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.popular .img img {
  width: 74px;
  margin-right: 10px;
}

.popular .fa-times {
  font-size: 20px;
  margin-left: auto;
  margin-top: 20px;
  color: #ff6060;
}

.popular .fa-times:hover {
  color: #2e2e2e;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.bag {
  position: relative;
}

.bag__heart {
  opacity: 0;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 54px 40px;
  -webkit-transform: translateX(-250px);
          transform: translateX(-250px);
  width: 380px;
  position: absolute;
  top: 52px;
}

.bag__sub {
  padding: 20px 0;
  border-bottom: 2px solid #9d9d9d;
}

.bag .img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bag .img img {
  width: 74px;
  margin-right: 10px;
}

.bag .fa-times {
  font-size: 20px;
  margin-left: auto;
  margin-top: 20px;
  color: #ff6060;
}

.bag .fa-times:hover {
  color: #2e2e2e;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.signin {
  top: 0;
  right: 0;
  bottom: 0;
  width: 385px;
  z-index: 9999;
  position: fixed;
  background: #f8f8f8;
  max-width: 0px;
  overflow-y: scroll;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.signin span {
  margin: 0 0 10px;
  text-transform: uppercase;
  font: 18px/20px "Montserrat", sans-serif;
}

.signin i {
  font-size: 25px;
  color: #9d9d9d;
  margin-left: 5px;
}

.signin i:hover {
  color: #ff6060;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.signin p,
.signin a {
  font: 300 14px/20px "Source Sans Pro", sans-serif;
  margin: 0;
  color: #777;
}

.signin header {
  margin-bottom: 35px;
}

.signin__ctn {
  padding: 0 32px 0 34px;
}

.signin__first {
  background-color: #f0f0f0;
  margin-bottom: 20px;
}

.signin__first-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signin__tt {
  color: #777;
  display: block;
  background: #f0f0f0;
  text-transform: uppercase;
  padding: 30px 0 24px 0px;
  font: 18px/20px "Montserrat", sans-serif !important;
}

.signin__tt strong {
  display: block;
  font-weight: 400;
}

.signin__sec {
  padding: 43px 0 37px 0;
}

.signin__sec .checkbox {
  width: 10px;
  height: 10px;
  background-color: #909090;
  margin: 16px 0 0 0;
}

.signin__or {
  color: #808080;
  overflow: hidden;
  text-align: center;
  position: relative;
  margin-bottom: 43px;
}

.signin__or::after {
  top: 50%;
  z-index: -1;
  height: 1px;
  content: "";
  left: -9999px;
  right: -9999px;
  position: absolute;
  border-top: 1px solid #e6e6e6;
}

.signin__or span {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 13px;
  padding: auto;
  width: 46px;
  height: 46px;
  margin: 0 auto;
  display: block;
  position: relative;
  background: #f8f8f8;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  text-transform: uppercase;
  font: 900 14px/20px "Montserrat", sans-serif;
}

.box {
  position: relative;
  margin-bottom: 16px;
}

.help {
  margin-left: auto;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */