.header__blog{
    margin-top: 76px;
}
.header__banner{
    position: relative;
}
.header__img{
    img{
        width: 100%;
        height: auto;
    }
}
.header__title{
    color: #383838;
    position: absolute;
    top: 0;
    left: 50%;
}