.footer {
    color: #868686;
    font-size: 14px;
    p {
        margin: 0;
        line-height: 1.7;
    }
    h3 {
        font-size: 16px;
        line-height: 16px;
        margin: 0 0 35px;
        font-weight: 700;
        color: #575757;
    }
    a {
        color: $colorPrimary;
        &:hover {
            color: $hover-red;
            transition: all 0.5s;
        }
    }
    &__top {
        background-color: $drop-color;
        padding-top: 76px;
        padding-bottom: 70px;
    }
    &__wrap {
        display: flex;
    }

    &__logo {
        margin-bottom: 23px;
    }
    &__detail {
        margin-bottom: 25px;
    }
    &__card {
        box-sizing: border-box;
        flex: 1;
        padding: 0 15px;
    }
    &__list {
        li {
            display: inline-block;
            margin: 0 3px 6px 0;
        }
        a {
            padding: 1px 15px;
            display: block;
            border-radius: 25px;
            border: 1px solid #c1c1c1;
            transition: all 0.25s linear;
            &:hover {
                background-color: $hover-red;
                color: white;
            }
        }
    }
    &__2 {
        display: flex;
        margin-bottom: 26px;
        p {
            margin: 0;
            a {
                font-weight: 700;
                color: #868686;
            }
        }
        i {
            margin-top: 8px;
            margin-right: 15px;  
            color: #868686;
        }
    }
    &__last {
        display: flex;
        flex-direction: column;
        text-align: end;
        i {
            margin: 2px 0 0 7px;
        }
        address {
            margin-bottom: 14px;
            color: #868686;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 31px 0;
        a {
            font-weight: 700;
            color: black;
        }
    }
    @media screen and (max-width: 768px) {
        h3 {
            margin-bottom: 10px;
        }
        &__top {
            padding: 40px 0 10px 0;
        }
        &__wrap {
            display: flex;
            flex-wrap: wrap;
        }
        &__card {
            display: block;
            width: 100%;
            padding: 0;
            flex: none;
            padding: 0 15px 30px 15px;
        }

        &__last {
            text-align: start;
            padding-bottom: 30px;
        }

        &__bottom {
            flex-direction: column;
            span,
            img {
                display: block;
                width: 100%;
            }
            span {
                text-align: center;
                margin-bottom: 15px;
            }
            img {
                width: 75%;
            }
        }
    }
}
ul.social {
    display: flex;
    li {
        a {
            padding: 8px;
        }
    }
}
