.search{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background: #f8f8f8;
    z-index: 10;
    display: none;
    &-container{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    form{
        position: relative;
        width: 770px;
        height: 60px;
        margin: 0 auto;
        border-left: 1px solid #bdbdbd;
        fieldset{
            padding: 0;
            margin: 0;
            border: 0;
            width: 100%;
            display:inline-flex;
            input{
                margin: 0;
                border: 0;
                width: 100%;
                outline: none;
                color: #9d9d9d;
                background:#f8f8f8;
                padding: 12.5px 22px;
                font-size:25px;
                font-weight: 300;
            }
            a{
                position:absolute;
                font-size:25px;
                color: #9d9d9d;
                top: 15px;
                right: 50px;
                i{
                    font-size:  23px;
                }
                &:hover{
                    color: #ff6060;
                    transition: 0.2s;
                }
            }
        }
    }
    &-btn{
        position:absolute;
        top: 19px;
        right: 5px;
        border: 0;
        padding: 0;
        outline: none;
        color: #9d9d9d;
        font-size:25px;
        font-weight: 100;
        background: #f8f8f8;
        &:hover{
            transition: 0.2s;
            color: #ff6060;
        }
    }
    &-close{
        position: fixed;
        left: 50%;
        bottom: 100px;
        a{
            font-size:25px;
            font-weight: 100;
            color: #9d9d9d;
            &:hover{
                transition: 0.2s;
                color: #ff6060;
            }
            i{
                font-size: 16px;
            }
        }
    }
}
///////////////////////////////////////////////////////////////////
.react__love {
   position: relative;
}
.liked {
        position: absolute;
        top: 55px;
        right: 0;
        width: 380px;
        height: 450px;
        transform : translateX(80px);
        background-color: #fff;
        z-index: 6;
        display: none;
        &::before { 
            content: "";
            position: absolute;
            border-style: solid;
            border-width: 20px 15px;
            border-color: transparent transparent #fff transparent;
            top: -30px;
            right: 70px;
        }
        &__container{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            padding: 30px 24px;
        }
        &__body{
            padding: 16px 0;
        }
        &__item{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__item-content{
            display: flex;
            align-items: center;
        }
        &__item-img{
            width: 74px;
            img{
                width: 100%;
                object-fit: cover;
                display: block;
            }
        }
        &__item-desc{
            display: flex;
            flex-direction: column;
            margin: 0 0 0 8px;
        }
        &__item-title{
            color: #757575;
            font: 600 14px/20px"Source Sans Pro", sans-serif;
            &:hover {
                @include hover;
            }
        }
        &__item-price{
            color: #010101;
            font: 600 16px/20px"Source Sans Pro", sans-serif;
            
        }
        &__item-close{
            i {
                color: #ff6060;
                font-size: 14px;
            }
        }
        &__footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 24px;
            padding: 0px 32px;
            border-top: 1px solid #eee;
            font: 600 16px/26px "Source Sans Pro", sans-serif
        }
        &__footer-text{
            margin: 16px 0 0 0;
        }
        &__footer-btn{
            margin: 16px 0 0 0;
            padding: 5px 22px;
            border: 1px solid #000;
            border-radius: 25px;
            text-transform: uppercase;
            transition: all 0.2 linear;
            &:hover{
                color: white;
                background: #000;
            }
        }
}
.cart-list {
    position: relative;
}
.cart {
    position: absolute;
    top: 55px;
    right: 0;
    width: 380px;
    height: 500px;
    transform : translateX(80px);
    background-color: #fff;
    z-index: 6;
    display: none;
    &::before { 
        content: "";
        position: absolute;
        border-style: solid;
        border-width: 20px 15px;
        border-color: transparent transparent #fff transparent;
        top: -30px;
        right: 70px;
    }
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 30px 24px;
    }
    &__body{
        padding: 16px 0;
    }
    &__item{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item-content{
        display: flex;
        align-items: center;
    }
    &__item-img{
        width: 74px;
        img{
            width: 100%;
            object-fit: cover;
            display: block;
        }
    }
    &__item-desc{
        display: flex;
        flex-direction: column;
        margin: 0 0 0 8px;
    }
    &__item-title{
        color: #757575;
        font: 600 14px/20px"Source Sans Pro", sans-serif;
        &:hover {
            @include hover;
        }
    }
    &__item-price{
        color: #010101;
        font: 600 16px/20px"Source Sans Pro", sans-serif;
        
    }
    &__quantity{
        color: #757575;
        font: 600 14px/20px"Source Sans Pro", sans-serif;
    }
    &__item-close{
        i {
            color: #ff6060;
            font-size: 14px;
        }
    }
    
    &__footer-control{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #eee;
        font: 600 16px/26px "Source Sans Pro", sans-serif
    }
    &__statistical{
        padding: 12px 32px;
    }
    &__statistical-title{
        color: #757575;
    }
    &__footer{
        padding: 0px 32px;
        margin-bottom: 24px;
    }
    &__footer-btn{
        margin: 16px 0 0 0;
        padding: 5px 22px;
        border: 1px solid #000;
        border-radius: 25px;
        cursor: pointer;
        text-transform: uppercase;
        transition: all 0.2s ease-out;
    }
    &__btn-left {
        &:hover{
            color: #fff;
            background: #000;
        }
    }
    &__btn-right {
        color : #fff;
        background: #000;
        &:hover{
            color: #000;
            background: #fff;
        }
    }
}
.bg__dark {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 5;
    display : none;
}
.login{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(0,0,0,0.3);
    display:none;
    justify-content: flex-end;
    &__container{
        width: 385px;
        height:100%;
        overflow-y: scroll;
        background: #f8f8f8;
    }
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px;
        box-sizing: border-box;
        background: #f0f0f0;
    }
    &__title{
        h2{
            text-transform: uppercase;
            font: 18px/20px "Montserrat", sans-serif;
            margin: 0;
            letter-spacing:1px;
        }
    }
    &__body{
        padding: 50px 25px;
    }

    &__account-text{
        margin-bottom:35px;
    }
    &__account-title{
        text-transform: uppercase;
        font: 18px/20px "Montserrat", sans-serif;
        margin-bottom:10px;
    }
    &__account-desc{
        color: #7d7d7d;
        font: 300 14px/20px "Source Sans Pro", sans-serif;
    }
    &__form__control{
        border: 0;
        width: 100%;
        height: 38px;
        outline: none;
        color: #909090;
        margin-bottom: 11px;
        padding: 9px 22px;
        background: #f0f0f0;
        border-radius: 30px;
        font: 300 14px/20px "Source Sans Pro", sans-serif;
    }
    &__form__helper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__form__checkbox{
        display: flex;
        align-items: center;
        padding: 5px 0;
        .form__acp{
            position: relative;
            margin: 0;
            width: 40px;
        }
        label{
            position: relative;
            color: #9a9a9a;
            padding-left:4px;
            font: 11px/18px "Oxygen", sans-serif;
        }
    }
    &__form__help{
        a{
            color: #9a9a9a;
            font: 12px/18px"Oxygen", sans-serif;
        }
    }
    &__btn{
        border: 0;
        outline: none;
        color: #fff;
        padding: 8px 22px;
        margin: 16px 0;
        background: #808080;
        border-radius: 18px;
        cursor: pointer;
        display: inline-block;
        font: 300 14px/20px "Source Sans Pro", sans-serif;
        &:hover {
            background-color : $hover-red;
        }
    }
    &__or{
        color: #808080;
        overflow: hidden;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        font: 700 14px/20px "Montserrat", sans-serif;
        margin: 40px 0;
        z-index: 1;
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            left: 0;
            top: 50%;
            border: 1px solid #e6e6e6;
            z-index: -1;            
        }
        p{
            width: 46px;
            height: 46px;
            margin: 0 auto;
            display: block;
            padding: 13px 0 0;
            border-radius: 50%;
            position: relative;
            background: #f8f8f8;
            border: 1px solid #e6e6e6;
            
            
        }
    }
    &__create__account{
        form{
            input{
                margin-bottom: 11px;
            }
        }
    }

}
.header__show {
    display: flex;
}

////////////////////////////////////

