.search {
    opacity: 0;
    visibility: hidden;
    background-color: #f8f8f8;
    // background-color: rebeccapurple;
    position: absolute;
    display: flex;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    color: $search-header;
    i {
        font-size: 25px;
        color: $search-header;
        margin-left: 5px;
        &:hover {
            color: $hover-red;
            transition: all 0.5s;
        }
    }

    &__re {
        width: 100%;
        position: relative;
        margin: 0 auto;
        max-width: 770px;
    }

    &__btn {
        display: flex;
        position: absolute;
        right: -23px;
        top: 44%;
        transform: translate(-50%, -50%);
    }

    i.fa-times {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    button {
        border: none;
        background-color: #f8f8f8;
    }
    input {
        background-color: #f8f8f8;
        // background-color: red;
        padding: 0 90px 0 20px;
        height: 60px;
        // width: 769px;
        font-size: 30px;
        border: none;
        border-radius: 0;
        border-left: 2px solid $search-header;
        font: 300 25px/30px "Source Sans Pro", sans-serif;
        box-sizing: border-box;
    }
}

.open {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.open-1 {
    opacity: 1 !important;
    visibility: visible !important;
    transition: 0.5s;
    z-index: 10;
}

.s-open {
    max-width: 1000px !important;
}
.close {
    display: none;
}

.dark {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.selec {
    // opacity: 0;
    display: block;
    width: 25px;
    height: 23px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: red;
    position: absolute;
}
////////////////////////////////////////////////////////////////////

.popular {
    position: relative;
    &::after {
        content: "";
        display: block;
        opacity: 0;
        width: 25px;
        height: 23px;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        background: red;
        position: absolute;
    }
    &__heart {
        opacity: 0;
        background-color: white;
        // background-color: royalblue;
        box-sizing: border-box;
        padding: 54px 40px;
        transform: translateX(-250px);
        width: 380px;
        position: absolute;
        top: 52px;
    }
    &__list {
        border-bottom: 2px solid $search-header;
    }
    &__row {
        display: flex;
        margin-bottom: 15px;
        span {
            display: block;
            color: #010101;
            font: 600 15px/20px "Source Sans Pro", sans-serif;
        }
    }
    &__price {
        color: #010101;
        font: 600 15px/20px "Source Sans Pro", sans-serif;
    }

    &__total {
        padding: 16px 10px;
        font: 600 14px/26px "Source Sans Pro", sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__buttom {
        padding: 1px 20px;
        border: 2px solid #010101;
        border-radius: 24px;
        &:hover {
            background-color: #010101;
            a {
                color: #f8f8f8;
            }
        }
    }
    .img {
        box-sizing: border-box;
        img {
            width: 74px;
            margin-right: 10px;
        }
    }

    .fa-times {
        font-size: 20px;
        margin-left: auto;
        margin-top: 20px;
        color: #ff6060;
        &:hover {
            color: $menu-color;
            transition: all 0.5s;
        }
    }
}

.bag {
    position: relative;
    &__heart {
        opacity: 0;
        background-color: white;
        // background-color: royalblue;
        box-sizing: border-box;
        padding: 54px 40px;
        transform: translateX(-250px);
        width: 380px;
        position: absolute;
        top: 52px;
    }

    &__sub {
        padding: 20px 0;
        border-bottom: 2px solid $search-header;
    }

    .img {
        box-sizing: border-box;
        img {
            width: 74px;
            margin-right: 10px;
        }
    }

    .fa-times {
        font-size: 20px;
        margin-left: auto;
        margin-top: 20px;
        color: #ff6060;
        &:hover {
            color: $menu-color;
            transition: all 0.5s;
        }
    }
}
.signin {
    top: 0;
    right: 0;
    bottom: 0;
    width: 385px;
    z-index: 9999;
    position: fixed;
    background: #f8f8f8;
    // transform: translateX(387px);
    max-width: 0px;
    overflow-y: scroll;
    transition: all 0.5s linear;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    span {
        margin: 0 0 10px;
        text-transform: uppercase;
        font: 18px/20px "Montserrat", sans-serif;
    }
    i {
        font-size: 25px;
        color: $search-header;
        margin-left: 5px;
        &:hover {
            color: $hover-red;
            transition: all 0.5s;
        }
    }
    p,
    a {
        font: 300 14px/20px "Source Sans Pro", sans-serif;
        margin: 0;
        color: #777;
    }
    header {
        margin-bottom: 35px;
    }
    &__ctn {
        padding: 0 32px 0 34px;
    }

    &__first {
        background-color: $f0f0f0;
        margin-bottom: 20px;
    }

    &__first-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__tt {
        color: #777;
        display: block;
        background: #f0f0f0;
        text-transform: uppercase;
        padding: 30px 0 24px 0px;
        font: 18px/20px "Montserrat", sans-serif !important;
        strong {
            display: block;
            font-weight: 400;
        }
    }

    &__sec {
        padding: 43px 0 37px 0;
        .checkbox {
            width: 10px;
            height: 10px;
            background-color: #909090;
            margin: 16px 0 0 0;
        }
    }

    &__or {
        color: #808080;
        overflow: hidden;
        text-align: center;
        position: relative;
        margin-bottom: 43px;
        &::after {
            top: 50%;
            z-index: -1;
            height: 1px;
            content: "";
            left: -9999px;
            right: -9999px;
            position: absolute;
            border-top: 1px solid #e6e6e6;
        }
        span {
            box-sizing: border-box;
            padding-top: 13px;
            padding: auto;
            width: 46px;
            height: 46px;
            margin: 0 auto;
            display: block;
            position: relative;
            background: #f8f8f8;
            border: 1px solid #e6e6e6;
            border-radius: 50%;
            text-transform: uppercase;
            font: 900 14px/20px "Montserrat", sans-serif;
        }
    }
}
.box {
    position: relative;
    margin-bottom: 16px;
}
.help {
    margin-left: auto;
}
