.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-screen{
    width:100%;
}
.grid__row {
    display: flex;
    flex-wrap: wrap;
}
.container{
    width: 1230px;
    max-width: 100%;
    margin: 0;
    @media (max-width:767px) {
        max-width: 100%;
    }
}