body{
    box-sizing: border-box;
	color: inherit;
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.4285;
	font-size: 1.4rem;
}
ol, ul {
	list-style: none;
}
a{
	text-decoration: none;
}
html{
	color: $colorPrimary ;
    font-size: 62.5%;
	box-sizing: border-box;
}